#nav-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nav-item-marker-container {
  position: relative;
}
#nav-item-marker {
  transition: transform 0.5s ease, width 0.3s ease;
}
.nav-item {
  padding: 0px 8px 0px 8px;
}
