@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
  }

@font-face {
    font-family: 'Helvetica Compressed';
    src: url('./assets/fonts/helvetica-compressed.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  